* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, ul, body {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
.hidden {
  display: none !important;
}
.text-breaker {
  display: block;
}
.page-header {
  display: flex;
  padding: 30px 117px 26px 138px;
  width: 100%;
}
.page-header__logo {
  width: 48%;
  background: url(/img/page-header/header-mini-logo.svg) no-repeat;
  -webkit-background-size: 22px 23px;
  background-size: 22px 23px;
}
.page-header__logo-info {
  font-size: 20px;
  margin-left: 38px;
  /*line-height: 30px;*/
  letter-spacing: 0.15px;
  color: #C81F56;
}
.page-header__main-navigation {
  width: 52%;
}
.site-navigation {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.site-navigation__point {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}
.site-navigation__point-link {
  color: inherit;
  text-decoration: none;
}
.page-main {

}
.introduce-slide {
  display: flex;
  flex-direction: column;
  padding: 73px 122px 62px 138px;
  background: url(/img/introduce-slide/bg-first-section.svg) no-repeat center;
  background-size: 100%;
}
.introduce-slide__header {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
}
.introduce-slide__first-text {
  margin: 0 0 11px;
}
.introduce-slide__second-text {
  margin: 0 0 58px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: inherit;
}
.learning-main-advantages {
  
}
.learning-main-advantages__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.learning-main-advantages__item {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  width: 25%;
  padding: 0 0 0 40px;
  background-image: url(/img/introduce-slide/cash-advantage.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0 0;
}
.learning-main-advantages__item--search {
  width: 21%;
  background-image: url(/img/introduce-slide/search-advantage.svg);
}
.learning-main-advantages__item--clock {
  width: 30%;
  background-image: url(/img/introduce-slide/clock-advantage.svg);
}
.introduce-slide__starting-date {
  margin: 22px 0 60px 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  text-shadow: 0px 4px 20px rgba(200, 31, 86, 0.5);
}
.introduce-slide__reg-btn-wrapper {

}
.introduce-slide__reg-btn {
  background-color: #feb447;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding: 13px 18px;
  border: none;
}
.key-skills {
  padding: 0 0 94px;
  background: url(/img/key-skills/bg-key-skills.svg) no-repeat 100% 142px;
  /*-webkit-background-size: ;*/
  /*background-size: ;*/
}
.key-skills__header {
  margin: 73px 0 36px 257px;
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;
}
.skills-advantages {
  margin: 0 0 0 257px;
}
.skills-advantages__ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-advantages__item {
  width: 18%;
  margin: 0 145px 30px 0;
  padding: 65px 0 0;
  height: 114px;
  background-image: url(/img/key-skills/data-handler-icon.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 40px;
  background-size: 40px;
  background-position: 0 4px;
}
.skills-advantages__item--classification {
  background-image: url(/img/key-skills/classification-icon.svg);
}
.skills-advantages__item--clustering {
  background-image: url(/img/key-skills/clustering-icon.svg);
}
.skills-advantages__item--modeling {
  background-image: url(/img/key-skills/modeling-icon.svg);
}
.skills-advantages__item--ranging {
  background-image: url(/img/key-skills/ranging-icon.svg);
}
.skills-advantages__item--reduction {
  background-image: url(/img/key-skills/reduction-icon.svg);
  background-position: 0 10px;
}
.skills-slider {

}
.skills-slider__header {
  padding: 0 40px;
  font-weight: 900;
  font-size: 96px;
  line-height: 80px;
  color: #c81f56;
  opacity: 0.1;
  mix-blend-mode: darken;
}
.skills-slider__slider-wrapper {
  margin: 0 0 34px;
}
.skills-slider__item {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px 12px 23px 20px;
  width: 216px;
  box-shadow: 0px 8px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.skills-slider__item-header {
  height: 43px;
  background-image: url(/img/skills-slider/hh-logo.png);
  background-repeat: no-repeat;
  -webkit-background-size: 40px;
  background-size: 40px;
  background-position: 0 0;
}
.skills-slider__item-profession {
  margin: 30px 0 18px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.skills-slider__item-salvage {
  margin: 0 0 67px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #c81f56;
}
.skills-slider__item-company-logo {
  height: 40px;
  background-image: url(/img/skills-slider/city-mobil-icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 80px;
}
.skills-slider__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px;
}
.skills-slider__switcher-btn {
  width: 8px;
  height: 8px;
  background-color: #d1d6e3;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin: 0 12px;
}
.skills-slider__switcher-btn--active {
  background-color: #fe840e;
}
.key-skills__submit {
  margin: 0 0 0 18%;
}
.key-skills__submit-btn {
  padding: 13px 16px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  line-height: 17px;
  font-size: 14px;
  font-weight: 600;
  background-color: #feb447;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
}